* {
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-family: "Urbanist", sans-serif;
  }

  .section-container-why-play{
        position: relative;
        width: 100%;
        max-width: 100%; 
        margin: 0 auto; 
    }

    .section-container-why-play img {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
       
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 168, 40, 0.7); /* Cor com opacidade */
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
        text-align: center; 
       
    }
    
    .overlay p {
        padding-left: 50px;
        margin: 30px 0;
        font-size: 16px;
    }

    .overlay button {
        padding: 10px 20px;
        margin-left: 50px;
        font-size: 16px;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.1s;
    }

    .overlay button:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
   
    .title-container {
        position: absolute;
        top: 25%; 
        left: 50px; 
        color: white;
        z-index: 2; 
    }

    .title-container h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 400; 
    }

    .title-container h1 span {
        font-weight: 700; 
        color: white; 
    }
    .right-container {
        position: absolute;
        top: 10%;
        right: 70px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        box-sizing: border-box;
        z-index: 2;
        margin-right: 10px;
    }

    .left-container {
        top: 0;
        right: 0px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0px;
        box-sizing: border-box;
        z-index: 2;
    }


    .right-container p {
        font-size: 20px;
        color: white;
        position: relative;
        margin: 10px 10px 0;
        padding-left: 10px;
        padding-bottom: 10px;
        line-height: 1.4;
    }

    .right-container p.right-container-subtext{
        font-size: 16px;
    }

    .right-container p::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .right-container p i {
        position: absolute;
        bottom: -5px;
        right: 10px;
        font-size: 30px;
        margin-left: 150px; 
    }
    
    
    /*esconde os subtextos*/
    .right-container-subtext{
        display: none;
    }
    
   
